$graygradient:rgba(219, 214, 214, 0.829);
$greengradient: linear-gradient(to right, #5be7a9, white, #9cf5fa);
$bluegradient: linear-gradient(to right, #acc7f9, #d9b1eb);


$lavander:#e6e6ff;
$gray: gray;
$black: black;
$green:#8ef6e4;
$white: white;


$warning-color: #ffc107;
$bg-color: #f8f9fa;
$secondary-bg-color: #e9ecef;


