$fontfm: 'Mulish';

$small-size: 12px;
$medium-size: 15px;
$large-size: 30px;



$title-font-weight: bold;
$paragraph-font-weight: normal;
$light-weight: 300;
$regular-weight: 400;
$bold-weight: 700;
